@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-font: "Poppins", sans-serif;
  --style-font: "Merienda", cursive;
  --text-color: #fefefe;
  --red-color: #ea272d;
  --grey-color: #a0a1a5;
  --yellow-color: #fee856;
  --black-color: rgb(28, 28, 28);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
  background-color: var(--black-color);
}
li,
a {
  text-decoration: none;
  list-style: none;
}

/* ========home page--------- */
.container {
  padding: 0 5rem;
}

header {
  background: linear-gradient(
      135deg,
      rgba(28, 28, 28, 0.7),
      rgba(28, 28, 28, 0.4)
    ),
    url(./img/home-img.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 7%;
  transition: all 0.4s;
}
nav.insert-border {
  box-shadow: 0 0 1.5px #ccc;
  background-color: rgba(28, 28, 28, 1);
}
nav ul {
  display: flex;
  gap: 1.5rem;
  color: var(--text-color);
}

nav li a {
  color: inherit;
  transition: 0.3s;
}
nav li a:hover {
  color: var(--red-color);
}

.nav-logo a {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
}
/* .nav-logo {
  background-color: white;
  height: 100%;
  width: 5rem;
} */
/* .nav-logo img {
  width: 100%;
  height: 100%;
} */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: var(--text-color);
  margin-right: auto;
}
.hero-content h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1;
}
.hero-content p {
  font-family: var(--style-font);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
.order-now-button {
  width: 8rem;
  display: flex;
  justify-content: center;
  padding: 0.45em;
  margin-top: 1rem;
  background-color: rgba(14, 1, 1, 0.548);
  transition: 0.3s;
  border: 1px solid var(--text-color);
  cursor: pointer;
}
.order-now-button span {
  color: var(--text-color);
  text-transform: uppercase;
}
.order-now-button:hover {
  background-color: var(--black-color);
}
.hamburger {
  display: none;
}

@media screen and (max-width: 930px) {
  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
  .hamburger .line {
    height: 2px;
    width: 24px;
    background-color: var(--text-color);
    margin: 5px auto;
    display: block;
    transition: all 0.3s;
  }
  nav {
    height: 7%;
  }
  .nav-panel {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    right: 0;
    top: 7%;
    bottom: 0;
    width: 35%;
    background-color: var(--text-color);
    box-shadow: 0 0 5px grey;
    color: var(--black-color);
    padding: 4rem;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s;
  }
  .nav-panel.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  .hamburger.rotate .line {
    margin: 0;
  }
  .hamburger.rotate .line-2 {
    opacity: 0;
    transform: translateX(-10px);
  }
  .hamburger.rotate .line-1 {
    transform: translateY(2px) rotate(45deg);
  }
  .hamburger.rotate .line-3 {
    transform: translateY(-2px) rotate(-45deg);
  }
}
@media screen and (max-width: 737px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }
  .hero-content p {
    text-align: start;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 683px) {
  .container,
  nav {
    padding: 0 2rem;
  }
  .nav-panel {
    padding: 2rem;
    width: 45%;
  }
  .nav-panel li a {
    font-size: 90%;
  }
}
@media screen and (max-width: 511px) {
  .nav-logo a {
    font-size: 1rem;
  }
  .hamburger .line {
    width: 15px;
    margin: 3px auto;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    text-align: start;
    font-size: 0.9rem;
  }
  .order-now-button {
    width: 6rem;
    padding: 0.25em;
    margin-top: 1rem;
  }
  .order-now-button span {
    font-size: 0.75rem;
  }
}

/* ----------about section----------- */

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section-header {
  color: var(--text-color);
  padding-bottom: 4rem;
  text-align: center;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 3rem;
  color: var(--text-color);
  justify-content: center;
  width: 100%;
}

.about-content h3 {
  font-family: var(--style-font);
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.about-content p:last-child {
  margin-top: 2rem;
}

.about-image-container img {
  width: 25rem;
  height: 100%;
}

@media screen and (max-width: 519px) {
  .about-content br {
    content: "";
  }
  .about-content br::after {
    content: "";
  }
  .about-content p {
    font-size: 85%;
  }
  .about-image-container img {
    width: 100%;
  }
}
/* --------menu section--------- */
.category-panel {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.category-panel a {
  color: var(--text-color);
  text-transform: uppercase;
  transition: 0.3s;
}
.category-panel a:hover {
  color: var(--red-color);
}
.menu-content {
  color: var(--text-color);
}
.menu-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 32rem);
  gap: 2rem;
  justify-content: center;
}
.menu-card {
  border: 1.5px solid #ccc;
  height: 12rem;
  display: flex;
  gap: 1rem;
}
.menu-img-container {
  height: 100%;
  width: 40%;
}
.menu-card img {
  height: 100%;
  width: 100%;
}
.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.8rem;
  width: 60%;
}
.menu-content h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: var(--style-font);
}
.menu-content p {
  font-size: 0.8rem;
  font-weight: 300;
}
.menu-content p:last-child {
  font-size: 1rem;
  color: var(--yellow-color);
  text-transform: uppercase;
  font-weight: 600;
}
.category-hamburger {
  border: 1px solid var(--red-color);
  color: var(--text-color);
  padding: 0.4rem 0.6rem;
  padding-top: 0.1rem;
  border-radius: 25px;
  background-color: var(--red-color);
  font-size: 0.7rem;
  width: max-content;
  display: none;
  cursor: pointer;
}
.category-hamburger span {
  color: var(--text-color);
  font-size: 0.75rem;
  margin-left: 0.3rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1314px) {
  .menu-container {
    grid-template-columns: repeat(auto-fit, 30rem);
  }
}
@media screen and (max-width: 877px) {
  .category-hamburger {
    display: inline-block;
  }
  .menu-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .menu-img-container {
    width: 30%;
  }
  .category-panel {
    margin-top: 0.7rem;
    display: none;
    transition: all 0.3s;
  }
  .category-panel.show-category-list {
    display: inline-block;
  }
  .arrow {
    transform: rotate(0);
    background-color: transparent;
    outline: none;
    border: none;
  }
  .arrow.rotate {
    transform: rotate(90deg);
  }
  .category-panel a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 707px) {
  .menu-card {
    min-height: 7rem;
    display: flex;
    gap: 1rem;
  }
  .menu-img-container {
    height: 100%;
  }
}
@media screen and (max-width: 597px) {
  .menu-card {
    height: auto;
    gap: 0;
    align-items: flex-start;
  }
  .menu-img-container {
    height: 5rem;
    width: 5rem;
    margin-top: 0.8rem;
  }
  .menu-content {
    width: calc(100% - 5rem);
  }
  .menu-content h3 {
    font-size: 85%;
  }
  .menu-content p {
    font-size: 68%;
  }
  .menu-content p:last-child {
    font-size: 90%;
  }
}
/* ----------gallery-section */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(12rem, 18rem));
  gap: 2rem;
}
.gallery-box {
  border: 3px solid var(--yellow-color);
}
.gallery-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-box:first-child {
  grid-row: span 2;
}
.gallery-box:nth-child(2) {
  grid-column: span 2;
}
.gallery-box:nth-child(3) {
  grid-row: span 2;
}

.gallery-box:nth-child(7) {
  grid-column: span 2;
}
@media screen and (max-width: 1362px) {
  .gallery-container {
    grid-template-rows: repeat(4, minmax(9rem, 13rem));
    gap: 1rem;
  }
}
@media screen and (max-width: 1022px) {
  .gallery-container {
    grid-template-rows: repeat(4, minmax(8rem, 11rem));
    gap: 1rem;
  }
}
@media screen and (max-width: 944px) {
  .gallery-container {
    grid-template-rows: repeat(4, minmax(8rem, 11rem));
    gap: 1rem;
  }
  .gallery-box:first-child {
    grid-row: 1/2;
  }
  .gallery-box:nth-child(3) {
    grid-row: 2/3;
  }
  .gallery-box:nth-child(5) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .gallery-box:nth-child(6) {
    grid-column: span 2;
  }
}
@media screen and (max-width: 630px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery-box:first-child {
    grid-column: 1/5;
  }
  .gallery-box:nth-child(2) {
    grid-column: 1/5;
  }
  .gallery-box:nth-child(3) {
    grid-row: 4/5;
    grid-column: span 2;
  }
  .gallery-box:nth-child(4) {
    grid-column: span 2;
  }
  .gallery-box:nth-child(6) {
    grid-row: 2/3;
  }
  .gallery-box:nth-child(5) {
    grid-column: 1/3;
  }
  .gallery-box:nth-child(7) {
  }
  .gallery-box:last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 510px) {
  .gallery-box:nth-child(2) {
    grid-column: span 4;
    grid-row: 5/6;
  }
  .gallery-box:nth-child(5) {
    grid-column: span 4;
  }
  .gallery-box:nth-child(6) {
    grid-row: 3/4;
    grid-column: span 4;
  }
  .gallery-box:nth-child(7) {
    grid-column: span 4;
  }
  .gallery-box:last-child {
    grid-column: span 4;
  }
}
/* --------testimonials---------- */
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.review-card {
  border: 1px solid gray;
  padding: 2rem;
  width: 50rem;
}

.star-row {
  margin-bottom: 2rem;
}
.star-row i {
  color: var(--yellow-color);
}
.star-row span {
  color: var(--text-color);
  margin-left: 2rem;
}
.text-row {
  color: var(--text-color);
}
.text-row span {
  font-family: var(--style-font);
  font-size: 1.5rem;
  font-size: 300;
}
.text-row i {
  font-size: 1.5rem;
  transform: translateY(-15px);
  margin-right: 0.5rem;
}
.text-row p {
  margin-top: 1.5rem;
  font-weight: 600;
  font-family: var(--style-font);
  font-size: 1.6rem;
  color: var(--red-color);
  text-align: end;
}
.review-button {
  margin: auto;
}
.review-button:hover {
  background-color: var(--black-color);
}
.review-button a {
  color: var(--text-color);
}
@media screen and (max-width: 1001px) {
  .review-card {
    width: 100%;
  }
}
@media screen and (max-width: 591px) {
  .star-row i {
    font-size: 80%;
  }
  .star-row span {
    font-size: 90%;
  }
  .text-row i {
    font-size: 1.2rem;
  }
  .text-row span {
    font-size: 1.2rem;
  }
  .text-row p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 493px) {
  .star-row span {
    display: block;
    text-align: start;
    margin-top: 0.8rem;
    margin-left: 0;
    font-size: 0.9rem;
  }
  .text-row i {
    font-size: 1.2rem;
  }
  .text-row span {
    font-size: 1.1rem;
  }
  .text-row p {
    font-size: 1.2rem;
  }
}
/* -------contact section---------- */

.contact-container {
  display: flex;
  justify-content: center;
  height: 80%;
  gap: 1rem;
}
.map-box {
  height: 30rem;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 2rem;
}
.map-box iframe {
  height: 100%;
  width: 80%;
}
.contact-content {
  flex-grow: 1;
}
.contact-content-row {
  color: var(--text-color);
  padding: 0 1.3rem;
  margin-bottom: 2rem;
}
.contact-head {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.call-row,
.address-row {
  display: flex;
  flex-direction: column;
}
.contact-number {
  font-weight: 600;
  font-size: 1.7rem;
}
.button {
  text-align: center;
  width: max-content;
  padding: 0.2rem 0.7rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--text-color);
  transition: 0.3s;
  margin-top: 1.2rem;
  background-color: var(--red-color);
  border: 1px solid red;
  cursor: pointer;
  padding-bottom: 0.4rem;
}
.button:hover {
  background-color: transparent;
}
.day-time-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 1221px) {
  .contact-container {
    flex-direction: column;
    row-gap: 3rem;
  }
  .map-box {
    height: 20rem;
    margin-right: 0;
  }
  .map-box iframe {
    height: 100%;
    width: 100%;
  }
  .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
    justify-content: space-between;
    row-gap: 3rem;
  }
  .contact-content-row {
    margin-bottom: 0;
  }
  .contact-content .button {
    margin-top: auto;
  }
}
@media screen and (max-width: 1064px) {
  .map-box {
    height: 16rem;
  }
}
@media screen and (max-width: 854px) {
  .contact-content {
    row-gap: 2rem;
    justify-content: center;
  }
  .contact-number {
    font-size: 1rem;
  }
  .address-details {
    font-size: 82%;
  }
  .contact-head {
    font-size: 1.1rem;
  }
  .contact-content-row .button {
    font-size: 80%;
  }
  .days li,
  .time li {
    font-size: 85%;
  }
  .contact-content-row {
    color: var(--text-color);
    padding: 0;
  }
}
@media screen and (max-width: 722px) {
  .contact-number,
  .address-details {
    margin-bottom: 1.5rem;
  }
  .contact-content .button {
    margin-top: auto;
  }
}
@media screen and (max-width: 446px) {
  .contact-content {
    justify-content: start;
  }
}
/* ----------footer section-------- */

.footer-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: center;
  border-top: 1px solid var(--grey-color);
  padding-top: 5rem;
  row-gap: 1.5rem;
  column-gap: 2rem;
}

.footer-card {
  color: var(--text-color);
}
.footer-card a {
  color: var(--text-color);
}
.footer-card:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.title-footer {
  font-weight: 600;
  font-size: 1.1rem;
}
.footer-content {
  margin-top: 1rem;
}
.about-footer .footer-content p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.about-footer .footer-content a {
  font-size: 0.9rem;
  color: var(--red-color);
}
.contact-footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.contact-footer .footer-content span {
  font-size: 0.8rem;
}
.contact-footer .footer-content span:nth-child(3) {
  margin-bottom: 1rem;
}
.contact-footer .footer-content span:last-child {
  margin-top: 1rem;
}
.footer-card > .day-time-container {
  margin-top: 1rem;
}
.footer-content .days,
.footer-content .time {
  font-size: 0.8rem;
}
.footer-content .days li,
.footer-content .time li {
  padding: 0.4rem 0;
}
.instagram-container {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  gap: 0.8rem;
}
.instagram-container a {
  border: 1px solid gray;
  overflow: hidden;
}
.instagram-container a img {
  width: 100%;
  transition: 0.3s;
}
.instagram-container a img:hover {
  transform: scale(1.2);
}
.socials-ul {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.socials-ul li a {
  font-size: 1.5rem;
  transition: 0.3s;
}
.socials-ul li a:hover {
  color: var(--red-color);
}
@media screen and (max-width: 1273px) {
  .instagram-container {
    grid-template-columns: repeat(3, 4rem);
  }
  .footer-section {
    justify-content: flex-start;
  }
  .footer-card {
    color: var(--text-color);
  }
}
/* -------------rights footer--------- */

footer {
  display: flex;
  justify-content: center;
}
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  color: var(--text-color);
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;

  font-size: 0.8rem;
}
.right-container p span {
  color: var(--red-color);
  font-size: 0.8rem;
}
button {
  width: max-content;
  transition: all 0.3s;
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  border: none;
  padding: 2px 0;
}
button a {
  color: var(--red-color);
}
.right-container button:hover a {
  color: var(--text-color);
}
.right-container button:hover {
  transform: scale(1.2) rotate(7deg);
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--red-color);
  color: var(--text-color);
  border-radius: 2px;
}
@media screen and (max-width: 615px) {
  footer {
    justify-content: flex-start;
  }
  .right-container p,
  .right-container span {
    font-size: 80%;
  }
}

/* ----------------popup window----------------- */
.arrow-to-home {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -100%;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.arrow-to-home a {
  font-size: 1.2rem;
  color: var(--text-color);
  transform: rotate(90deg);
  padding: 0 12px;
}
.arrow-to-home.appear {
  bottom: 3%;
}
@media screen and (max-width: 683px) {
  .arrow-to-home {
    right: 2rem;
  }
}
.foodpanda-popup {
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.foodpanda-popup.show-popup {
  display: flex;
}
.foodpanda-popup.remove-popup {
  display: none;
}
.foodpanda-container {
  background-color: #ff007f;
  width: max-content;
  padding: 2rem;
  padding-top: 3.5rem;
  color: var(--black-color);
  position: relative;
  font-weight: 600;
}
.foodpanda-btn {
  margin-top: 1.5rem;
}
.foodpanda-btn .button {
  background-color: var(--black-color);
  color: #ff007f;
  border: 1.5px solid #ff007f;
  transition: 0.3s;
  font-weight: 600;
}
.foodpanda-btn .button:hover {
  letter-spacing: 2px;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background-color: #ff007f;
  color: var(--black-color);
  padding: 0 7px;
  cursor: pointer;
  font-weight: 600;
}
.review-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.review-popup.show-review {
  display: flex;
}
.review-popup-container form {
  display: flex;
  flex-direction: column;
}
.review-popup-container {
  position: relative;
}
.review-popup-container h2 {
  font-weight: 300;
  font-family: var(--style-font);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.review-popup-container label {
  color: var(--text-color);
}
.review-text-container textarea,
.username-container input {
  font-family: var(--main-font);
  color: var(--text-color);
  padding: 1.5rem;
  background-color: var(--black-color);
  border: 1px solid var(--red-color);
}
.username-container,
.review-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.username-container {
  margin-bottom: 1rem;
}
.username-container input {
  padding: 0.5rem;
}
.username-container input.change-color {
  border-color: green;
}
.username-container input:focus {
  outline: none;
}
.review-text-container textarea:focus {
  outline: none;
}
.review-popup-container .button {
  cursor: pointer;
  padding-bottom: 0.4rem;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.5rem;
}
.review-popup-container .button:hover {
  background-color: var(--red-color);
}
.review-close-btn {
  position: absolute;
  color: var(--text-color);
  background-color: transparent;
  bottom: 100%;
  left: 100%;
  padding: 0;
  font-size: 1.4rem;
  cursor: pointer;
}
.review-success-container {
  text-align: center;
  margin-top: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.review-success-container.show-success {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 472px) {
  .foodpanda-container,
  .review-popup-container {
    width: 80%;
  }
  .review-close-btn {
    left: 90%;
  }
}
